node_modules
dist
dist-electron
build
release
out
coverage
.turbo
.rspress
doc_build

*.log
.DS_Store

.env
.env.*
!.env.example

apps/docs/dist
apps/docs/.astro

playwright-report
test-results
.playwright

data/
tmp/
apps/e2e/test-results
apps/e2e/playwright-report
